@use "bp";

:root {
  --font-family-noto: "Noto Sans JP", sans-serif;
  --font-family-kiwi: "Kiwi Maru", sans-serif;
  --font-family-courgette: "Courgette", sans-serif;
  --font-family-josefin: "Josefin Sans", sans-serif;

  --color-main: #9ed0e0;
  --color-sub-dblue: #67b0c7;
  --color-sub-bgray: #cce1e4;
  --color-sub-lblue: #e9f6f8;
  --color-accent-red: #ce2073;
  --color-accent-yellow: #ffee56;
  --color-mono-blown: #4a3636;
  --color-mono-dgray: #ccc;
  --color-mono-gray: #f5f5f5;
  --color-mono-white: #fff;

  --contents-inner-pc: 1024px;
  --contents-inner-sp: 335px;

  --font-size-base-pc: 16px;
  --font-size-base-sp: 12px;
}

body {
  background: var(--color-sub-lblue);
  color: var(--color-mono-blown);
  font-family: var(--font-family-noto);
}

.body__wrapper {
  overflow-x: hidden;
}

.header {
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-block: 16px;
  background: #fff;

  @include bp.mq(pc) {
    padding-block: 14px;
  }
}

.header__inner {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;

  @include bp.mq(pc) {
    padding-inline: 24px;
    align-items: center;
  }
}

.header__logo {
  img {
    width: 210px;

    @include bp.mq(pc) {
      width: 183px;
    }
  }
}

.header__open {
  width: 32px;
  @include bp.mq(pc) {
    display: none;
  }
}

.drawer-icon {
  position: relative;
  width: 32px;
  height: 27px;

  &.is-clicked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        transform: rotate(45deg);
        top: 10px;
        width: 32px;
      }
      .drawer-icon__dot {
        display: none;
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 10px;
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 3px;
  background: #4a3636;
  border-radius: 4px;
  transition: transform 0.3s, display 0.3s, width 0.3s, top 0.3s;

  &:nth-of-type(1) {
    width: 25.6px;
    top: 3px;
  }
  &:nth-of-type(2) {
    top: 15px;
  }
  &:nth-of-type(3) {
    top: 27px;
  }
}

.drawer-icon__dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.8px;
  height: 3px;
  background: #4a3636;
  margin-right: -6px;
  border-radius: 4px;
}

.header__nav {
  display: none;
  z-index: 101;
  @include bp.mq(pc) {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.header__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6; /* 19.2px */
}

.header__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6; /* 22.4px */
  padding: calc(6px - 2px) calc(24px - 2px) calc(8px - 2px) calc(24px - 2px);
  border-radius: 40px;
  border: 2px solid currentColor;
  background: var(--color-mono-white);
  box-shadow: 0px 4px 0px 0px currentColor;
  margin-left: 4px;

  @include bp.mq(pc) {
  }
}

.drawer-contents {
  display: none;
  padding-top: 82px;
  position: fixed;
  top: 64px;
  height: calc(100dvh - 64px);
  background: var(--color-mono-white);
  width: 100%;
  z-index: 20;
}

.drawer-contents.is-open {
  display: block;
}

.drawer-contents__menu {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
}

.drawer-contents__link {
  font-size: 14px;
}

.header__button {
  @include bp.mq(pc) {
    transition: background 0.3s;
    &:hover {
      background: var(--color-accent-yellow);
    }
  }
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6; /* 22.4px */
  padding: calc(6px - 2px) calc(24px - 2px) calc(8px - 2px) calc(24px - 2px);
  border-radius: 40px;
  border: 2px solid currentColor;
  background: var(--color-mono-white);
  box-shadow: 0px 4px 0px 0px currentColor;
  display: inline-block;

  @include bp.mq(pc) {
    border: 3px solid currentColor;
    font-size: 20px;
    transition: background 0.3s;
    &:hover {
      background: var(--color-accent-yellow);
    }
  }
}

.hidden-sp {
  display: none;

  @include bp.mq(pc) {
    display: inline;
  }
}

.hidden-tab {
  @include bp.mq(tab) {
    display: none;
  }
}

.hidden-pc {
  @include bp.mq(pc) {
    display: none;
  }
}

.first-view {
  margin-top: 64px;
  position: relative;
  padding-top: 1px;

  .first-view__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //height: calc(100% - 156px);
    overflow: hidden;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
  }

  .first-view__inner {
    position: relative;
    width: 100%;
    max-width: 335px;
    margin-right: auto;
    margin-left: auto;

    @include bp.mq(pc) {
      max-width: calc(848px + 20px * 2);
    }
  }

  .first-view__head-text {
    margin-top: 17px;
    text-align: center;
    text-shadow: 0px 0px 30px #fff;
    font-family: var(--font-family-kiwi);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25; /* 17.5px */

    @include bp.mq(pc) {
      margin-top: 33px;
      font-size: 24px;
      font-weight: 500;
    }
  }

  .first-view__title-image {
    margin-top: 20px;
    text-align: center;

    @include bp.mq(pc) {
      margin-top: 24px;
    }
  }

  .first-view__title-image1 {
    width: 334px;

    @include bp.mq(pc) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 520px;
    }
  }

  .first-view__title-image2 {
    margin-top: 12px;
    width: 240px;

    @include bp.mq(pc) {
      margin-top: 16px;
      width: 356px;
    }
  }

  .first-view__images {
    margin-top: 10px;
    position: relative;
    height: 522px;

    @include bp.mq(pc) {
      margin-top: 0;
      height: 603px;
    }
  }

  .fv-images__fukidashi {
    position: absolute;
    top: 9px;
    left: 1px;

    @include bp.mq(pc) {
      top: -2px;
      left: 56px;
    }

    img {
      width: 139.672px;

      @include bp.mq(pc) {
        width: 244px;
      }
    }
  }

  .fv-images__present {
    position: absolute;
    top: 0;
    right: 25px;

    @include bp.mq(pc) {
      top: 17px;
      right: 147px;
    }

    img {
      width: 110px;

      @include bp.mq(pc) {
        width: 180px;
      }
    }
  }

  .fv-images__sp-image {
    @include bp.mq(pc) {
      position: relative;
    }
  }

  .sp-image {
    width: 100%;
    text-align: center;
  }

  .sp-image__sp-image {
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;

    @include bp.mq(pc) {
      top: 33px;
    }

    img {
      width: 200px;

      @include bp.mq(pc) {
        width: 250px;
      }
    }
  }

  .sp-image__text-box {
    position: absolute;
    top: 227.6px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 12.8px;
    width: 160px;
    padding-bottom: 19.2px;
    background: var(--color-mono-white);

    @include bp.mq(pc) {
      width: 200px;
      padding-bottom: 24px;
      position: absolute;
      top: 185px;
    }
  }

  .sp-image-text {
    background: linear-gradient(
      265deg,
      #ac3790 -3.52%,
      #d65a5c 44.94%,
      #f4c06d 92.38%
    );
    color: var(--color-mono-white);
    font-feature-settings: "pref" on;
    font-size: 12.8px;
    font-weight: 700;
    line-height: 1.6; /* 20.48px */
    border-radius: 12.8px 12.8px 0 0;
    padding-block: 6.4px;

    @include bp.mq(pc) {
      font-size: 16px;
      padding-block: 8px;
    }
  }

  .sp-image__application-period {
    padding-inline: 14px;
    margin-top: 9px;

    @include bp.mq(pc) {
      padding-inline: 12px;
      margin-top: 16px;
    }
  }

  .sp-image__application-period-text {
    display: inline-block;
    -webkit-text-stroke-width: 0.800000011920929;
    -webkit-text-stroke-color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6; /* 19.2px */
    border-bottom: 2.4px solid var(--color-accent-red);

    @include bp.mq(pc) {
      font-size: 14px;
      border-bottom: 3px solid var(--color-accent-red);
    }
  }

  .sp-image__application-period-date {
    margin-top: 3.2px;
    font-feature-settings: "pref" on;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6; /* 19.2px */

    @include bp.mq(pc) {
      margin-top: 4px;
      font-size: 16px;
    }
  }

  .sp-image__button {
    margin-top: 13px;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    a {
      font-size: 14px;

      @include bp.mq(pc) {
        font-size: 16px;
      }
    }
    @include bp.mq(pc) {
      margin-top: 16px;
    }
  }

  .fv-images__cat-black {
    position: absolute;
    bottom: 58px;
    right: 0;

    @include bp.mq(pc) {
      right: 83px;
      bottom: 104px;
    }

    img {
      width: 62px;

      @include bp.mq(pc) {
        width: 170px;
      }
    }
  }

  .fv-images__cat-brown {
    position: absolute;
    bottom: 0;
    right: 9px;

    @include bp.mq(pc) {
      bottom: 3px;
      right: 19px;
    }

    img {
      width: 98px;

      @include bp.mq(pc) {
        width: 233px;
      }
    }
  }

  .fv-images__food {
    position: absolute;
    bottom: 1px;
    left: 2px;

    @include bp.mq(pc) {
      bottom: 47px;
      left: 22px;
    }

    img {
      width: 86px;

      @include bp.mq(pc) {
        width: 211px;
      }
    }
  }
}

.about {
  margin-top: 32px;
  padding-bottom: 32px;

  @include bp.mq(pc) {
    margin-top: 0px;
    padding-top: 36px;
  }
}

.about__inner {
  padding-inline: 20px;

  @include bp.mq(tab) {
    max-width: calc(580px + 30px * 2);
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  @include bp.mq(pc) {
    padding-left: 56px;
    padding-right: 56px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(848px + 56px * 2);
  }
}

.about__content {
  border-radius: 24px;
  background: var(--color-mono-white);
  text-align: center;
  padding-block: 40px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  @include bp.mq(pc) {
    border-radius: 40px;
  }
}

.heading {
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;

  @include bp.mq(pc) {
    gap: 8px;
  }
}

.heading__icon {
  img {
    width: 31.111px;

    @include bp.mq(pc) {
      width: 48px;
    }
  }
}

.heading__title-en {
  /* En/Courgette 16px Regular */
  font-family: var(--font-family-courgette);
  font-size: var(--font-size-base-pc);
  font-weight: 400;
  line-height: 1.25; /* 20px */

  @include bp.mq(pc) {
    font-size: 20px;
  }
}

.heading__title-ja {
  /* JP/Kiwi Maru 20px Medium */
  font-family: var(--font-family-kiwi);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25; /* 25px */
  border-bottom: 6px solid var(--color-accent-yellow);
  display: inline-block;

  @include bp.mq(pc) {
    font-size: 32px;
    padding-bottom: 8px;
    border-bottom: 8px solid var(--color-accent-yellow);
  }
}

.heading-images__left {
  position: absolute;
  width: 88px;
  top: 31px;
  left: 33px;

  @include bp.mq(pc) {
    width: 152px;
    top: 36px;
    left: 83px;
  }
}
.heading-images__right {
  position: absolute;
  width: 88px;
  top: 30px;
  right: 19.78px;

  @include bp.mq(pc) {
    width: 145px;
    top: 47px;
    right: 84.3px;
  }
}

.about__body {
  margin-top: 24px;

  @include bp.mq(pc) {
    margin-top: 34px;
  }
}

.about__body-title {
  /* JP/Text 14px Bold */
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6; /* 22.4px */

  @include bp.mq(pc) {
    font-size: 16px;
  }
}

.about__body-text {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6; /* 19.2px */

  @include bp.mq(pc) {
    margin-top: 32px;
    font-size: 16px;
  }
}

.about__body-text + .about__body-text {
  margin-top: 18px;

  @include bp.mq(pc) {
    margin-top: 28px;
  }
}

.text-deco {
  text-decoration: underline;
  transition: color 0.3s;
  cursor: pointer;
  &:hover {
    color: var(--color-sub-dblue);
  }
}

.text-deco2 {
  font-weight: 700;
}

.about__body-present {
  margin-top: 24px;
  /* JP/Text 14px Bold */
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6; /* 22.4px */
  padding-top: 8px;
  padding-bottom: 6px;
  border-bottom: 2px dashed var(--color-main);
  display: inline-block;

  @include bp.mq(pc) {
    font-size: 20px;
    padding-block: 12px;
    margin-top: 30px;
  }
}

.about__button {
  margin-top: 24px;
  @include bp.mq(pc) {
    margin-top: 32px;
    border: 3px solid currentColor;
    padding: 7px 37px 9px;
  }

  a {
    font-size: 16px;
    line-height: 1.6;
    @include bp.mq(pc) {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.about__arrow-images {
  text-align: center;
  img {
    width: 100px;

    @include bp.mq(pc) {
      width: 140px;
    }
  }
}

.position-back {
  position: absolute;
  z-index: -50;
}

.bg-images__pad {
  top: -10px;
  right: -20px;

  @include bp.mq(pc) {
    top: -80px;
    right: -166.12px;
  }
  img {
    width: 54px;

    @include bp.mq(pc) {
      width: 100px;
    }
  }
}

.bg-images__naname {
  display: none;

  @include bp.mq(pc) {
    display: block;
    top: -20px;
    left: -353px;
  }

  img {
    @include bp.mq(pc) {
      width: 250px;
    }
  }
}

.bg-images__right {
  top: 273px;
  right: -160px;

  @include bp.mq(pc) {
    top: 73.07px;
    right: -616.2px;
  }

  img {
    width: 200px;

    @include bp.mq(pc) {
      width: 480px;
    }
  }
}

.bg-images__left {
  top: 395px;
  left: -160px;

  @include bp.mq(pc) {
    top: 74px;
    left: -670px;
  }

  img {
    width: 200px;
    @include bp.mq(pc) {
      width: 480px;
    }
  }
}

.bg-images__goods-button {
  bottom: -59.67px;
  right: 0;

  @include bp.mq(pc) {
    bottom: 127.63px;
    right: -182px;
  }

  img {
    width: 48px;

    @include bp.mq(pc) {
      width: 101px;
    }
  }
}

.bg-images__wave1 {
  display: none;
}

.bg-images__wave2 {
  display: none;
}

// .bg-images__sakamichi-sp {
//   bottom: -215px;
//   left: -20px;

//   source {
//     width: 138px;
//   }
// }

// .bg-images__sakamichi-pc {
//   @include bp.mq(pc) {
//     top: 321px;
//     left: -435px;
//   }

//   img {
//     @include bp.mq(pc) {
//       width: 427px;
//     }
//   }
// }

.position-back {
  position: absolute;
  z-index: -50;
}

.bg-images__sakamichi {
  bottom: -215px;
  left: -20px;
}

.bg-images__sakamichi-img {
  width: 138px;

  @include bp.mq(pc) {
    width: 427px;
  }
}

@include bp.mq(pc) {
  .bg-images__sakamichi {
    top: 321px;
    left: -435px;
  }
}

.bg-images__goods-nuno {
  bottom: -118.67px;
  right: 37px;

  @include bp.mq(pc) {
    bottom: -79px;
    right: -258px;
  }

  img {
    width: 133px;

    @include bp.mq(pc) {
      width: 308px;
    }
  }
}

.bg-images__onomichi {
  bottom: -176.87px;
  left: -9.32px;

  @include bp.mq(pc) {
    bottom: -264px;
    left: -24px;
  }

  img {
    width: 354.642px;

    @include bp.mq(pc) {
      width: 891px;
    }
  }
}

.about__slider {
  margin-top: 140.87px;
  margin-bottom: 32.8px;

  @include bp.mq(pc) {
    margin-top: 208px;
    margin-bottom: 0;
  }
}

.about__swiper {
  overflow: auto;
}
.about__swiper-wrapper {
  width: 100%;
  //height: 100%;
  transition-timing-function: linear;
}

.about__swiper-slide {
  width: 100px;

  @include bp.mq(pc) {
    width: 200px;
  }
}

.about__slide-image {
  width: 100px;

  @include bp.mq(pc) {
    width: 200px;
  }
}

.enter {
  padding-bottom: 20px;

  @include bp.mq(pc) {
    padding-top: 88px;
  }
}

.enter__inner {
  padding-inline: 20px;

  @include bp.mq(pc) {
    max-width: calc(1024px + 20px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.enter__content {
  text-align: center;
  position: relative;
}

.heading {
  text-align: center;
}

.heading__icon {
  img {
    width: 37.333px;

    @include bp.mq(pc) {
      width: 48px;
    }
  }
}

.heading__title-ja {
  padding-bottom: 6px;

  @include bp.mq(pc) {
    padding-bottom: 8px;
  }
}

.enter__steps {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 32px;

  @include bp.mq(pc) {
    flex-direction: row;
    gap: 32px;
    justify-content: space-around;
    margin-top: 40px;
  }
}

.enter__step-box {
  position: relative;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    &::after {
      position: absolute;
      bottom: -50px;
      left: 50%;
      z-index: 3;
      width: 7px;
      height: 34px;
      content: "";
      background-color: transparent;
      background: url(../img/img_step_line.png) no-repeat center center /
        contain;
      transform: translateX(-50%);

      @include bp.mq(pc) {
        background: url(../img/step-line-pc.png) no-repeat center center /
          contain;
        width: 114px;
        height: 24px;
      }
    }
  }

  &:nth-of-type(2) {
    @include bp.mq(pc) {
      margin-top: 68px;
    }

    @include bp.mq(pc) {
      &::after {
        top: 136px;
        left: 320px;
      }
    }
  }

  &:nth-of-type(1) {
    @include bp.mq(pc) {
      &::after {
        top: 205px;
        left: 311px;
      }
    }
  }

  @include bp.mq(pc) {
    width: 324px;

    &:nth-of-type(4) {
      margin-top: 69px;
    }
  }
}

.step-box__head {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  width: 196px;
  height: 210.519px;

  @include bp.mq(pc) {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 300px;
    padding-top: 44px;
  }
}

.head1 {
  background: url(../img/cat-illust.png) no-repeat center center / contain;
}

.head2 {
  background: url(../img/cat-illust2.png) no-repeat center center / contain;
}

.head3 {
  background: url(../img/cat-illust3.png) no-repeat center center / contain;
}

.step-box__step-num {
  color: var(--color-mono-white);
}

.step-box__step-text-en {
  font-family: var(--font-family-josefin);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25; /* 17.5px */

  @include bp.mq(pc) {
    font-size: 20px;
  }
}

.step-box__step-text-num {
  font-family: var(--font-family-josefin);
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  line-height: 0.9;

  @include bp.mq(pc) {
    margin-top: 5px;

    font-size: 56px;
  }
}

.step-box__image {
  img {
    width: 112px;

    @include bp.mq(pc) {
      width: 160px;
    }
  }
}

.step-box__body {
  margin-top: 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;

  @include bp.mq(pc) {
    margin-top: 24px;
  }
}

.step-box__body-head {
  color: var(--color-mono-blown);
  font-feature-settings: "pref" on;
  font-size: var(--font-size-base-pc);
  font-weight: 700;
  line-height: 1.6; /* 25.6px */

  @include bp.mq(pc) {
    font-size: 20px;
  }
}

.step-box__body-text {
  color: var(--color-mono-blown);
  font-size: var(--font-size-base-sp);
  font-weight: 400;
  line-height: 1.6; /* 19.2px */
  @include bp.mq(pc) {
    font-size: var(--font-size-base-pc);
    padding-bottom: 16px;
  }
}

.instagram-text {
  color: var(--color-mono-blown);
  font-size: var(--font-size-base-sp);
  font-weight: 400;
  line-height: 1.6;
  text-decoration: underline;
}

.step-box__sns-button {
  background: var(--color-mono-white);
  padding: 8px 12px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  @include bp.mq(pc) {
    margin-top: 2px;

    transition: outline 0.3s;
    &:hover {
      outline: 1px solid var(--color-main);
    }
  }

  a {
    color: var(--color-mono-blown);
    /* JP/Text 14px Bold */
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6; /* 22.4px */
    width: fit-content;
    cursor: pointer;

    display: flex;
    justify-content: center;
    gap: 8px;

    @include bp.mq(pc) {
      font-size: var(--font-size-base-pc);
    }
  }
}

.step-box__sns-icon {
  img {
    width: 20px;

    @include bp.mq(pc) {
      width: 24px;
    }
  }
}

.step-box__button {
  margin-top: 15px;
  @include bp.mq(pc) {
    margin-top: 35px;
    padding: calc(10px - 3px) calc(40px - 3px) calc(12px - 3px);
  }

  a {
    @include bp.mq(pc) {
      font-size: 20px;
      font-weight: 700;
      display: inline-block;
    }
  }
}

.button {
  a {
    font-weight: 700;
  }
}

.bg-images__cat-gray {
  top: 5px;
  right: -51px;
  @include bp.mq(pc) {
    top: -16.03px;
    right: -139px;
    z-index: 51;
  }
  img {
    width: 94px;
    @include bp.mq(pc) {
      width: 214px;
    }
  }
}

.bg-images__cat-tabby {
  top: 0;
  right: 4px;

  @include bp.mq(pc) {
    top: -26px;
    right: -13px;
  }

  img {
    width: 105px;

    @include bp.mq(pc) {
      width: 238px;
    }
  }
}

.bg-images__map {
  top: 0;
  left: -20px;

  @include bp.mq(pc) {
    top: -60px;
    left: -208px;
  }

  img {
    width: 149px;

    @include bp.mq(pc) {
      width: 460px;
    }
  }
}

.bg-images__pawpads2 {
  top: 74px;
  right: 0;

  @include bp.mq(pc) {
    top: 148px;
    right: -208px;
  }

  img {
    width: 55px;

    @include bp.mq(pc) {
      width: 100px;
    }
  }
}

.bg-images__pawpads3 {
  top: 549.55px;
  left: 0;

  @include bp.mq(pc) {
    top: 580px;
    left: -208px;
  }

  img {
    width: 55px;

    @include bp.mq(pc) {
      width: 100px;
    }
  }
}

.bg-images__pawpads4 {
  top: 879.88px;
  right: 0;
  @include bp.mq(pc) {
    display: none;
  }
  img {
    width: 55px;
  }
}

.prizes {
  margin-top: 17.67px;

  @include bp.mq(pc) {
    margin-top: 120px;
  }
}

.prizes__inner {
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  @include bp.mq(pc) {
    max-width: calc(1024px + 56px * 2);
    padding-left: 56px;
    padding-right: 56px;
    margin-left: auto;
    margin-right: auto;
  }
}

.prizes__content {
  text-align: center;
  position: relative;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: calc(34.67px - 2px);
  z-index: 1;

  @include bp.mq(pc) {
    padding-top: 17px;
    padding-inline: 56px;
    padding-bottom: calc(53px - 2px);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 51%;
    transform: translateX(-50%);
    background: url(../img/prizes-head-semicircle-sp.png) no-repeat center
      center / cover;
    width: 238px;
    height: 83px;
    z-index: -1;

    @include bp.mq(pc) {
      background: url(../img/prizes-head-semicircle-pc.png) no-repeat left -14px
        center / contain;
      width: 378px;
      height: 150px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 83px);
    background: #fff;
    border-radius: 24px;
    z-index: -2;

    @include bp.mq(pc) {
      height: calc(100% - 137px);
    }
  }
}

.prizes__head-decoration-left,
.prizes__head-decoration-right {
  position: absolute;

  img {
    width: 315px;
  }
}

.prizes__head-decoration-left {
  top: 15px;
  left: 0;
}

.prizes__head-decoration-right {
  top: 15px;
  right: 0;
}

.prizes__text-detail {
  margin-top: 16px;
  /* JP/Text 12px Regular */
  font-size: 12px;
  font-weight: 400;
  line-height: 160%; /* 19.2px */

  @include bp.mq(pc) {
    margin-top: 40px;
    font-size: 16px;
  }
}

.prizes__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 46px;
  justify-content: center;
  column-gap: 15px;
  row-gap: 39px;

  @include bp.mq(pc) {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 80px;
    grid-column-gap: 32px;
    margin-top: 81px;
  }
}

.prizes__card-box {
  position: relative;
  width: calc(50% - 7.5px);

  @include bp.mq(pc) {
    width: 100%;
    height: 100%;
    &:nth-of-type(1) {
      grid-area: 1 / 1 / 2 / 4;
    }
    &:nth-of-type(2) {
      grid-area: 1 / 4 / 2 / 7;
    }
    &:nth-of-type(3) {
      grid-area: 2 / 1 / 3 / 3;
    }
    &:nth-of-type(4) {
      grid-area: 2 / 3 / 3 / 5;
    }
    &:nth-of-type(5) {
      grid-area: 2 / 5 / 3 / 7;
    }
  }
}

.prizes__card-box--large {
  @include bp.mq(tab) {
    .prizes-card__number-image {
      img {
        width: 80px;
      }
    }
  }

  @include bp.mq(pc) {
    .prizes-card__prize-name {
      font-size: 20px;
      min-height: 120px;
    }
    .prizes-card__number-image {
      top: -50px;
      img {
        width: 100px;
      }
    }

    .prizes-card__image {
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;

      img {
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .prizes-card__detail {
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
    }

    .prizes-card__triangle-bottom {
      svg {
        width: 100px;
        border-bottom-right-radius: 24px;
      }
    }

    .prizes-card__zoom-icon {
      svg {
        width: 32px;
        height: 32px;
        right: 13px;
        bottom: 15px;
      }
    }
  }

  // .prizes-card__image {
  //   img {
  //     @include bp.mq(pc) {
  //       transition: transform 0.3s;
  //       &:hover {
  //         transform: scale(1.2);
  //       }
  //     }
  //   }
  // }

  .prizes-card__button {
    @include bp.mq(pc) {
      border-radius: 24px;
      &:hover {
        outline: 4px solid #9ed0e0;

        .prizes-card__triangle-bottom {
          svg {
            path {
              fill: #9ed0e0;
            }
          }
        }
      }
    }
  }
}

.prizes-card__number-image {
  position: absolute;
  z-index: 5;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  img {
    width: 48px;
  }

  @include bp.mq(tab) {
    top: -40px;
    img {
      width: 80px;
    }
  }

  @include bp.mq(pc) {
    top: -40px;
    img {
      width: 80px;
    }
  }
}

.prizes-card__button {
  @include bp.mq(pc) {
    border-radius: 16px;
    &:hover {
      outline: 4px solid #9ed0e0;

      .prizes-card__triangle-bottom {
        svg {
          path {
            fill: #9ed0e0;
          }
        }
      }
    }
  }
}

.prizes-card__body {
  position: relative;
}

.prizes-card__image {
  display: block;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  @include bp.mq(pc) {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    img {
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.prizes-card__detail {
  background: #f5f5f5;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  @include bp.mq(pc) {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.prizes-card__prize-name {
  color: #4a3636;
  text-align: center;
  /* JP/Text 12px Bold */
  font-size: 12px;
  font-weight: 700;
  line-height: 160%; /* 19.2px */
  padding-top: 9px;
  padding-bottom: 9px;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include bp.mq(pc) {
    min-height: 80px;
    font-size: 16px;
  }
}

.prizes-card__triangle-bottom {
  svg {
    width: 36px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 8px;
  }

  @include bp.mq(pc) {
    svg {
      width: 64px;
      border-bottom-right-radius: 16px;
    }
  }
}

.prizes-card__zoom-icon {
  svg {
    width: 11.5px;
    position: absolute;
    right: 5.2px;
    bottom: 6.12px;
  }

  @include bp.mq(pc) {
    svg {
      width: 20.48px;
      height: 20.48px;
      right: 9px;
      bottom: 12px;
    }
  }
}

.prizes__button {
  margin-top: 16px;

  @include bp.mq(pc) {
    margin-top: 37px;
    padding: 10px 37px;
  }
}

.dialog--open {
  z-index: 999;
  width: 336px;
  height: 480px;
  padding: 0;
  border: none;
  border-radius: 24px;
  overflow: hidden;

  &::backdrop {
    background: #000;
    opacity: 0.7;
  }

  @include bp.mq(pc) {
    width: 480px;
    height: 650px;
  }
}

.dialog__image {
  img {
    width: 100%;
  }
}

.dialog__detail {
  text-align: center;
  margin-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  @include bp.mq(pc) {
    margin-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.dialog__text {
  text-align: center;
}

.dialog__text-title {
  font-feature-settings: "pref" on;
  /* JP/Text 16px Bold */
  font-size: 16px;
  font-weight: 700;
  line-height: 160%; /* 25.6px */

  @include bp.mq(pc) {
    font-size: 20px;
  }
}

.dialog__text-detail {
  margin-top: 12px;
  color: #000;
  text-align: center;

  /* JP/Text 12px Regular */
  font-size: 12px;
  font-weight: 400;
  line-height: 160%; /* 19.2px */

  @include bp.mq(pc) {
    font-size: 16px;
  }
}

.dialog__close-button {
  margin-top: 16px;
  @include bp.mq(pc) {
    margin-top: 24px;
  }
}

.prizes__bg-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -43px;

  @include bp.mq(pc) {
    display: block;
    margin-top: 0;
  }

  img {
    min-width: 580px;

    @include bp.mq(pc) {
      //width: 1512px;
    }
  }
}

.spot {
  position: relative;
  margin-top: -45.714px;
  padding-top: 45.714px;
  padding-bottom: 45.714px;

  @include bp.mq(pc) {
    margin-top: -120px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &::before {
    content: "";
    position: absolute;
    background: url(../img/spot-wave-top.png) repeat-x left -3px center / contain;
    top: 1px;
    left: 0;
    width: 100%;
    height: 45.714px;

    @include bp.mq(pc) {
      background: url(../img/spot-wave-top-pc.png) repeat-x left 0 center /
        contain;
      height: 120px;
    }
  }

  &::after {
    z-index: -10;
    content: "";
    position: absolute;
    background: url(../img/spot-wave-bottom.png) repeat-x left -3px center / contain;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 45.714px;

    @include bp.mq(pc) {
      background: url(../img/spot-wave-bottom-pc.png) repeat-x left 0 center /
        contain;
      height: 120px;
    }
  }
}

.spot__bg-image {
  @include bp.mq(pc) {
    position: absolute;
    bottom: 120px;
    left: 36px;

    img {
      width: 100px;
    }
  }
}

.spot__contents {
  background: var(--color-sub-dblue);
  text-align: center;
  padding-bottom: 19.84px;

  @include bp.mq(pc) {
    padding-bottom: 0;
  }
}

.spot__top {
  @include bp.mq(pc) {
    display: flex;
    column-gap: 42px;
    padding-left: 244px;
  }
}

.spot__heading-wrapper {
  text-align: center;

  @include bp.mq(pc) {
    width: 56px;
  }
}

.spot__heading-title {
  color: var(--color-mono-white);
  font-feature-settings: "pwid" on;
  font-family: var(--font-family-kiwi);
  font-size: 28px;
  font-weight: 500;
  line-height: 125%; /* 35px */
  position: relative;
  display: inline-block;
  padding-left: 36px;

  @include bp.mq(pc) {
    writing-mode: vertical-lr;
    width: 40px;
    font-size: 40px;
    padding-top: 70px;
    padding-left: 0;
    letter-spacing: 0.25em;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url(../img/spot-star.png) no-repeat center center / contain;
    width: 28px;
    height: 28px;

    @include bp.mq(pc) {
      padding-left: 0;
      width: 56px;
      height: 56px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.spot__slider {
  margin-top: 24px;
  height: 100%;

  @include bp.mq(pc) {
    width: calc(100% - 56px - 32px);
    margin-top: 0;
  }
}

.spot__swiper {
  overflow: auto;
  height: 402px;

  @include bp.mq(pc) {
    height: 542px;
  }
}

.spot__swiper-wrapper {
  height: 100%;
}

.spot__swiper-slide {
  height: 100%;
  width: 240px;

  @include bp.mq(pc) {
    width: 344px;
  }
}

@include bp.mq(pc) {
  .spot__swiper-slide + .spot__swiper-slide {
    margin-right: 32px;
  }
}

.spot__image-box {
  // height: 402px;
  height: 100%;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  padding-bottom: 40px;

  @include bp.mq(pc) {
    border-radius: 24px;
  }
}

.spot__box {
  margin: 0;
  img {
    border-radius: 12px 12px 0 0;

    @include bp.mq(pc) {
      width: 344px;
      height: 240px;
    }
  }
}

.spot__body {
  padding-left: 24px;
  padding-right: 24px;

  @include bp.mq(pc) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.spot__name {
  margin-top: 17px;
  font-feature-settings: "pref" on;
  /* JP/Text 16px Bold */
  font-size: 16px;
  font-weight: 700;
  line-height: 160%; /* 25.6px */

  @include bp.mq(pc) {
    margin-top: 24px;
    font-size: 20px;
  }
}

.spot__name-detail {
  margin-top: 16px;
  /* JP/Text 12px Regular */
  font-size: 12px;
  font-weight: 400;
  line-height: 160%; /* 19.2px */

  @include bp.mq(pc) {
    margin-top: 24px;
    font-size: 16px;
    text-align: left;
  }
}

.spot__inner {
  @include bp.mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc(1024px + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.spot__arrows {
  position: relative;
  z-index: 2;
  max-width: 700px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;

  @include bp.mq(pc) {
    display: block !important;
    max-width: 960px;
    margin-top: -32px;
  }
}

.spot-swiper-arrows {
  display: flex;
  justify-content: space-between;
}

.spot-swiper-arrows__prev,
.spot-swiper-arrows__next {
  @include bp.mq(pc) {
    width: 80px;
    height: 80px;
    &::after {
      display: none;
    }
  }
}

.spot-swiper-arrows__prev {
  @include bp.mq(pc) {
    //background: url(../img/spot-prev-button.png) no-repeat -11px -3px / contain;
  }
}

.spot-swiper-arrows__next {
  @include bp.mq(pc) {
    //background: url(../img/spot-next-button.png) no-repeat 10px -3px / contain;
  }
}

.spot__bottom {
  @include bp.mq(pc) {
    display: flex;
    margin-top: 95px;
    justify-content: space-between;
  }
}

.spot__bottom-image {
  img {
    width: 255px;

    @include bp.mq(pc) {
      width: 495px;
    }
  }
}

.spot__bottom-text {
  margin-top: 16px;
  color: var(--color-mono-white);
  font-size: 11.444px;
  font-weight: 400;
  line-height: 160%; /* 18.311px */

  @include bp.mq(pc) {
    margin-top: 0;
    font-size: 16px;
  }
}

.spot__button {
  margin-top: 24px;
  padding: 3px 22px 6px 22px;

  @include bp.mq(pc) {
    padding: 11px 32px 9px 41px;
  }
}

.qa {
  padding-top: 42px;
  padding-bottom: 37px;

  @include bp.mq(pc) {
    padding-top: 121px;
  }
}

.inner {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @include bp.mq(pc) {
    max-width: calc(1024px + 20px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.qa__boxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;

  @include bp.mq(pc) {
    margin-top: 42px;
    gap: 21px;
  }
}

.qa__box {
  border-radius: 12px;
  border: 2px solid currentColor;
  overflow: hidden;

  @include bp.mq(pc) {
    border-radius: 16px;
  }
}

.qa__question-box {
  display: flex;
  gap: 12px;
  align-items: center;
  background: #fff;
  padding: calc(12px - 2px) calc(16px - 2px);

  @include bp.mq(pc) {
    gap: 16px;
    padding: calc(24px - 2px);
  }
}

.qa__question-icon,
.qa__answer-icon {
  color: var(--color-main);
  /* En/Josefin Sans-24px */
  font-family: var(--font-family-josefin);
  font-size: 24px;
  font-weight: 400;
  line-height: 125%; /* 30px */

  @include bp.mq(pc) {
    font-size: 32px;
  }
}

.qa__question-text {
  /* JP/Text 14px Bold */
  font-size: 14px;
  font-weight: 700;
  line-height: 160%; /* 22.4px */
  text-align: left;

  @include bp.mq(pc) {
    flex-grow: 1;
    font-size: 20px;
  }
}

.qa__toggle-icon {
  width: 26px;
  height: 26px;
  background: var(--color-main);
  border-radius: 50%;
  position: relative;

  @include bp.mq(pc) {
    width: 48px;
    height: 48px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 1.45px;
    background: #fff;
    border-radius: 50px;
    top: 50%;
    left: 50%;

    @include bp.mq(pc) {
      width: 18.667px;
      height: 2.667px;
    }
  }

  &::before {
    transform: translate(-50%, -50%);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: transform 0.3s;
  }
}

.qa__answer-box {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px calc(16px - 2px) calc(16px - 2px);
  background: var(--color-mono-gray);

  @include bp.mq(pc) {
    padding: 24px calc(24px - 2px) calc(24px - 2px);
  }
}

//is-openがついたらqa__toggle-iconクラスのafterの要素を-90°回転させる
.qa__question-box--is-open {
  .qa__toggle-icon {
    &::after {
      transform: translate(-50%, -50%);
    }
  }
}

.qa__answer-text {
  /* JP/Text 14px Regular */
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  text-align: left;

  @include bp.mq(pc) {
    font-size: 16px;
  }
}

.qa__text-deco {
  text-decoration: underline;
}

.entry-requirements {
  margin-top: -8px;

  @include bp.mq(pc) {
    padding-top: 88px;
  }
}

.entry-requirements__inner {
  padding-bottom: 31px;
  @include bp.mq(pc) {
    max-width: calc(1024px + 20px * 2);
    padding-bottom: 120px;
  }
}

.entry-requirements__contents {
  border: 8px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  padding: calc(24px - 8px) calc(23.5px - 8px) 31px;

  @include bp.mq(pc) {
    padding-top: 33px;
    padding-left: 64px;
    padding-right: 48px;
    padding-bottom: 44px;
    //padding: 33px 64px 31px;
  }
}

.entry-requirements__details {
  margin-top: 24px;

  @include bp.mq(pc) {
    margin-top: 40px;
  }
}

.entry-requirements__definition-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.definition-list-item {
  @include bp.mq(pc) {
    display: flex;
  }
}

.definition-list-item + .definition-list-item {
  margin-top: 14px;
  padding-top: 12px;
  border-top: 1px solid #ccc;

  @include bp.mq(pc) {
    margin-top: 12px;
  }
}

.definition-term {
  width: 100%;
  /* JP/Text 14px Bold */
  font-size: 14px;
  font-weight: 700;
  line-height: 160%; /* 22.4px */
  position: relative;
  padding-left: 16px;

  @include bp.mq(pc) {
    max-width: 223px;
    font-size: 16px;
    height: fit-content;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: var(--color-main);
    border-radius: 50%;
  }
}

.definition-description {
  margin-top: 8px;
  width: 100%;
  /* JP/Text 12px Regular */
  font-size: 12px;
  font-weight: 400;
  line-height: 159%; /* 19.2px */

  @include bp.mq(pc) {
    flex-grow: 1;
    margin-top: 0;
    font-size: 16px;
  }
}

.definition-description-list > ul {
  list-style: none;
}

.definition-description-list-item {
  padding-left: 18px;
  position: relative;

  &::before {
    position: absolute;
    top: 0.1em;
    left: 0.2em;
    content: "・";
  }

  @include bp.mq(pc) {
    padding-left: 24px;
    line-height: 26px;
  }
}

.contact {
  padding-top: 40px;
  padding-bottom: 46px;
  background: var(--color-mono-white);

  @include bp.mq(pc) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.contact__inner {
  @include bp.mq(pc) {
    max-width: calc(848px + 30px * 2);
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact__head-text {
  margin-top: 24px;
  text-align: center;

  /* JP/Text 12px Regular */
  font-size: 12px;
  font-weight: 400;
  line-height: 160%; /* 19.2px */

  @include bp.mq(pc) {
    margin-top: 32px;
    font-size: 16px;
  }
}

.contact__contact-form {
  margin-top: 24px;
  @include bp.mq(pc) {
    margin-top: 40px;
  }
}

.contact-form__field {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-form-item {
  @include bp.mq(pc) {
    display: flex;
    align-items: center;
  }
}

.contact-form-item__message {
  @include bp.mq(pc) {
    display: flex;
    align-items: flex-start;
  }
}

.contact-form__head {
  text-align: left;
  display: flex;
  gap: 12px;
  align-items: center;

  @include bp.mq(pc) {
    width: 220px;
  }
}

.contact-form__label {
  /* JP/Text 14px Bold */
  font-size: 14px;
  font-weight: 700;
  line-height: 160%; /* 22.4px */

  @include bp.mq(pc) {
    font-size: 16px;
  }
}

.contact-form__tag {
  color: var(--color-mono-white);
  /* JP/Text 12px Bold */
  font-size: 12px;
  font-weight: 700;
  line-height: 160%; /* 19.2px */
  padding: 4px 8px;
  background: var(--color-accent-red);
  border-radius: 4px;
  display: inline-block;
}

.contact-form__input {
  margin-top: 7px;
  @include bp.mq(pc) {
    margin-top: 0;
    flex-grow: 1;
  }
}

.form-text {
  width: 100%;
  height: 56px;
  padding: 16px 16px;
  background: var(--color-mono-gray);
  border: none;
  border-radius: 8px;

  &::placeholder {
    color: #ccc;
    /* JP/Text 14px Regular */
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */

    @include bp.mq(pc) {
      font-size: 16px;
    }
  }
}

.contact-form__select {
  margin-top: 8px;
  position: relative;

  @include bp.mq(pc) {
    margin-top: 0;
    flex-grow: 1;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 52px;
    height: 56px;
    display: inline-block;
    background-color: var(--color-main);
    border-radius: 0 8px 8px 0;
  }

  &::after {
    content: "";
    width: 8.8px;
    height: 15px;
    background: url(../img/select-icon.png) no-repeat center center / contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22.1px;
    display: inline-block;
  }
}

.contact-form__select-input {
  width: 100%;
  height: 56px;
  background: var(--color-mono-gray);
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border-radius: 8px;
  appearance: none;

  /* JP/Text 14px Regular */
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */

  @include bp.mq(pc) {
    font-size: 16px;
  }
}

.contact-form__radio {
  margin-top: 9px;
  text-align: left;
  display: flex;
  gap: 24px;

  @include bp.mq(pc) {
    margin-top: 0;
    height: 56px;
    display: flex;
    align-items: center;
  }
}

.form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form-radio__input:checked + .form-radio__text::after {
  opacity: 1;
}

.form-radio__input:checked + .form-radio__text {
  font-weight: 700;
}

.form-radio__input:checked + .form-radio__text::before {
  border: 1px solid transparent;
}

.form-radio__text {
  padding-left: 32px;
  position: relative;
  font-size: 14px;

  @include bp.mq(pc) {
    font-size: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: var(--color-mono-gray);
  }

  &::after {
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: var(--color-main);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    opacity: 0;
  }
}

.contact-form__message {
  width: 100%;
  height: 160px;
  padding: 16px;
  border-radius: 8px;
  background: var(--color-mono-gray);
  border: none;

  &::placeholder {
    color: var(--color-mono-dgray);
    /* JP/Text 14px Regular */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */

    @include bp.mq(pc) {
      font-size: 16px;
    }
  }
}

.contact__privacy {
  margin-top: 24px;

  @include bp.mq(pc) {
    margin-top: 40px;
  }
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}

.form-checkbox__text {
  position: relative;
  padding-left: 36px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  @include bp.mq(pc) {
    font-size: 16px;
  }
}

.form-checkbox__text::before,
.form-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form-checkbox__text::before {
  width: 24px;
  height: 24px;
  background: var(--color-mono-gray);
}

.form-checkbox__text::after {
  width: 14px;
  height: 9px;
  background: url(../img/check-icon.png) no-repeat center center / contain;
  left: 5px;
  opacity: 0;
}

.contact__button {
  margin-top: 24px;

  @include bp.mq(pc) {
    margin-top: 40px;
  }
}

.button--submit {
  font-size: 16px;
  padding: 5px 22px 6px 22px;

  @include bp.mq(pc) {
    padding: 5px 36px 6px 36px;
  }
}

.form-text:focus,
.contact-form__select-input:focus,
.contact-form__message:focus {
  outline: 1px solid #9ed0e0;
  background: #e9f6f8;
}

.is-empty {
  outline: 1px solid #ce2073;
  background: #fff0f7;
}

.access {
  padding-top: 40px;

  @include bp.mq(pc) {
    padding-top: 120px;
    position: relative;
  }
}

.access__inner {
  @include bp.mq(pc) {
    max-width: calc(1024px + 30px * 2);
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.access__head-text {
  /* En/Josefin Sans-20px */
  font-family: var(--font-family-josefin);
  font-size: 20px;
  font-weight: 400;
  line-height: 125%; /* 25px */

  @include bp.mq(pc) {
    font-size: 24px;
  }
}

.access__sns-icon {
  margin-top: 24px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.sns-icon > img {
  width: 32px;

  @include bp.mq(pc) {
    width: 40px;
  }
}

.images__onomichi {
  margin-top: 11px;
  @include bp.mq(pc) {
    margin-top: 36px;
  }
  img {
    width: 333px;

    @include bp.mq(pc) {
      width: 755px;
    }
  }
}

.access__contents {
  border-radius: 16px;
  overflow: hidden;
  background: var(--color-mono-white);

  @include bp.mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.access__map {
  iframe {
    @include bp.mq(pc) {
      width: 512px;
      height: 400px;
    }
  }
}

.access__details {
  padding: 13px 24px 30px 27px;
  @include bp.mq(pc) {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 24px 22px 24px;
  }
}

.access__logo {
  margin-top: 1px;
  @include bp.mq(pc) {
    text-align: left;
  }
  img {
    width: 153px;

    @include bp.mq(pc) {
      width: 183px;
    }
  }
}

.access__address {
  margin-top: 31px;

  @include bp.mq(pc) {
    margin-top: 28px;
  }
}

.access__address-detail {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include bp.mq(pc) {
    gap: 12px;
  }
}

.address-detail__item {
  display: flex;
}

.address-term {
  width: 80px;

  /* JP/Text 12px Bold */
  font-size: 12px;
  font-weight: 700;
  line-height: 160%; /* 19.2px */
  position: relative;
  padding-left: 16px;

  @include bp.mq(pc) {
    font-size: 16px;
    width: 120px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: var(--color-main);
    border-radius: 50%;
  }
}

.address-description {
  flex-grow: 1;

  /* JP/Text 12px Regular */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */

  @include bp.mq(pc) {
    font-size: 16px;
  }
}

.access__bg-image {
  position: absolute;
  top: 80px;
  right: 80px;
  img {
    width: 100px;
  }
}

.pageTop-button {
  margin-top: 24px;
  margin-bottom: 63px;
  text-align: center;
  z-index: 100;

  @include bp.mq(pc) {
    position: fixed;
    right: 40px;
    bottom: 40px;
  }
  img {
    width: 75px;

    @include bp.mq(pc) {
      width: 100px;
    }
  }
}

.footer {
  text-align: center;
  background: var(--color-sub-dblue);
  padding-bottom: 24px;
  position: relative;

  @include bp.mq(pc) {
    margin-top: 234px;
  }

  &::before {
    content: "";
    position: absolute;
    background: url(../img/spot-wave-top.png) repeat-x left -3px center / contain;
    top: -40px;
    left: 0;
    width: 100%;
    height: 45.714px;

    @include bp.mq(pc) {
      top: -119px;
      background: url(../img/spot-wave-top-pc.png) repeat-x left 0 center /
        contain;
      height: 120px;
    }
  }
}

.footer__copyright {
  color: var(--color-mono-white);
  font-size: 10px;
  font-weight: 400;
  line-height: 160%; /* 16px */

  @include bp.mq(pc) {
    font-size: 14px;
  }
}
